@use "../../abstracts/variables" as *;
@use "../../base/typography";

.navigation__steps {
  position: relative;
  border-bottom: 1px solid $neutral-400;
  display: flex;
  flex-direction: column;
  min-height: 45px;
}

.navigation__steps-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  padding: 0 19px;
  min-height: 45px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 3px;
}

.navigation__steps-chevron {
  transition: transform 0.2s;
  color: $black-400;
}
.navigation__steps-chevron--open {
  transform: rotate(90deg);
}

.navigation__steps-title {
  flex: 1;
  text-align: left;
  color: $black-800;
  font-weight: 400;
  height: 25px;
  display: flex;
  align-items: center;
}

.navigation__steps-add {
  background: transparent;
  border: none;
  color: $black-400;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.2s,
    color 0.2s;
  &:hover {
    background-color: $neutral-200;
    color: $black-800;
  }
}

.navigation__steps-items {
  padding-left: 32px;
  padding-top: 0;
  padding-bottom: 4px;
}
.navigation__step-item {
  display: grid;
  grid-template-columns: 24px 1fr 32px;
  align-items: center;
  gap: 2px;
  padding: 5px 19px 5px 8px;
  margin-left: -16px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  transition: background-color 0.2s;
  &:hover:not(&--selected) {
    background-color: $neutral-200;
  }
  &--selected {
    background-color: $neutral-400;
  }
}
.navigation__step-title {
  color: $black-800;
  font-size: 14px;
  min-width: 0;
}
.navigation__step-type {
  display: inline-flex;
  align-items: center;
  color: $black-400;
}

.navigation__step-tick {
  @extend .typo-caption;
  color: $black-400;
  min-width: 32px;
  text-align: center;
  justify-self: end;
  transform: translateX(4px);
}
