@use "./abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
  background-color: $neutral-200;
  color: $black-800;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 24px 64px;
  display: flex;
  gap: $flex-gap;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  &--default {
    max-width: 1440px;
  }

  &--wide {
    max-width: 1872px;
  }
}

input,
textarea,
select,
button {
  outline: none;
  background: transparent;
  min-width: 0;
  font: inherit;
}

ul,
ol {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  :visited {
    color: inherit;
  }
}

img {
  display: block;
}

.required-mark {
  margin-left: 4px;
  color: $red-400;
}
